*.gem
.bundle
.kitchen/
.kitchen.local.yml
vendor/bundle
pkg/*
bin/*
.vagrant
files/**/cache/
resources/**/cache/
vendor/cookbooks

# google-fluentd specific package
core_gems/*
plugin_gems/*
package-scripts/google-fluentd/makeselfinst
package-scripts/google-fluentd/postinst
package-scripts/google-fluentd/postrm
package-scripts/google-fluentd/preinst
package-scripts/google-fluentd/prerm
files/etc/init.d/google-fluentd
resources/google-fluentd/etc/init.d/google-fluentd
