.bundle
.kitchen/
.kitchen.local.yml
vendor/bundle
bin/*
.vagrant
files/**/cache/
resources/**/cache/
vendor/cookbooks

# td-agent specific package
package-scripts/td-agent/makeselfinst
package-scripts/td-agent/postinst
package-scripts/td-agent/postrm
package-scripts/td-agent/preinst
package-scripts/td-agent/prerm
files/etc/init.d/td-agent
resources/td-agent/etc/init.d/td-agent

# bats
/bats/bats
/bats/tmp
